<!doctype html>
<html>
  <body>
    <h1>California Energy Production</h1>
    <h2>Today's Energy Production: {{ context.energy_today }} MWh</h2>

    <form action="/california_dashboard" method="post">
      <input type="radio" id="COL" value="COL" name="energy_source">
      <label for="COL">Coal</label>
      <input type="radio" id="NG"  value="NG"  name="energy_source">
      <label for="NG" >Natural Gas</label>
      <input type="radio" id="NUC" value="NUC" name="energy_source">
      <label for="NUC">Nuclear</label>
      <input type="radio" id="OIL" value="OIL" name="energy_source">
      <label for="OIL">Oil</label>
      <input type="radio" id="SUN" value="SUN" name="energy_source" checked>
      <label for="SUN">Solar</label>
      <input type="radio" id="WAT" value="WAT" name="energy_source">
      <label for="WAT">Hydroelectric</label>
      <input type="radio" id="WND" value="WND" name="energy_source">
      <label for="WND">Wind</label>

      <p>
        <label for="prediction">Prediction in days (0-365)</label>
        <input type="range" id="prediction" name="prediction"
          min="0" max="365" step="1" value="180">
        <p>Days: <output id="pred_days">180</output></p>
      </p>

      <input type="submit" value="submit" />
    </form>
    <h2>{{ context.energy_type }} Power Production</h2>
    <div id='chart' class='chart'”></div>
  </body>
 
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    const value = document.querySelector("#pred_days")
    const input = document.querySelector("#prediction")
    value.textContent = input.value
    input.addEventListener("input", (event) => {
      value.textContent = event.target.value
    })
    
    var graphs = {{ context.graphJSON | safe }};
    Plotly.plot('chart',graphs,{});
  </script>
</html>
