<!doctype html>
<html>
  <body>
    <h1>California Energy Production</h1>
    <form action="/california_dashboard" method="post">
      <select id="energy_source" name="energy_source">
        <option value="COL">Coal</option>
        <option value="NG">Natural Gas</option>
        <option value="NUC">Nuclear</option>
        <option value="OIL">Oil</option>
        <option value="SUN">Solar</option>
        <option value="WAT">Hydroelectric</option>
        <option value="WND">Wind</option>
      </select>
      <input type="submit" value="submit" /></p>
    </form>
    <div id='chart' class='chart'”></div>
  </body>
 
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
  </script>
</html>
